{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "loose": false,
        "modules": "cjs",
        "spec": true,
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "babel-plugin-macros",
    "babel-plugin-transform-typescript-metadata",
    "@babel/plugin-transform-runtime",
    "babel-plugin-transform-object-hasown",
    ["@babel/plugin-proposal-decorators", { "version": "legacy", "loose": false }],
    ["@babel/plugin-proposal-class-properties", { "loose": false }],
    [
      "babel-plugin-module-resolver",
      {
        "root": ["./"],
        "alias": {
          "~": "./src",
          "~tests": "./tests"
        }
      }
    ]
  ],
  "ignore": [],
  "env": {
    "esm": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "corejs": 3,
            "loose": false,
            "modules": false,
            "spec": true,
            "useBuiltIns": "usage"
          }
        ]
      ],
      "ignore": [
        "**/*.d.ts",
        "**/*.d.tsx",
        "**/*.spec.js",
        "**/*.spec.jsx",
        "**/*.spec.ts",
        "**/*.spec.tsx",
        "**/*.test.js",
        "**/*.test.jsx",
        "**/*.test.ts",
        "**/*.test.tsx",
        "src/@types"
      ]
    },
    "umd": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "corejs": 3,
            "loose": false,
            "modules": "umd",
            "spec": true,
            "useBuiltIns": "usage"
          }
        ]
      ],
      "ignore": [
        "**/*.d.ts",
        "**/*.d.tsx",
        "**/*.spec.js",
        "**/*.spec.jsx",
        "**/*.spec.ts",
        "**/*.spec.tsx",
        "**/*.test.js",
        "**/*.test.jsx",
        "**/*.test.ts",
        "**/*.test.tsx",
        "src/@types"
      ]
    }
  }
}
